In [1]:
import pandas as pd

In [2]:
obj1 = pd.Series([1,5,-7,10])
print (obj1)

0     1
1     5
2    -7
3    10
dtype: int64

In [3]:
print (obj1.values)
print (obj1.index)

[ 1  5 -7 10]
RangeIndex(start=0, stop=4, step=1)

# give the index by own / manual

In [4]:
obj1 = pd.Series([1,5,-7,10], index=["a", "b", "c", "d"])
print (obj1)

a     1
b     5
c    -7
d    10
dtype: int64

In [5]:
obj1 = pd.Series([1,5,-7,10], index=["Jan", "Feb", "March", "April"])
print (obj1)

Jan       1
Feb       5
March    -7
April    10
dtype: int64

In [6]:
obj1 = pd.Series([1,5,-7,10], index=["Jan", "Feb", "March", "April"], name="the 04 months targes")
print (obj1)

Jan       1
Feb       5
March    -7
April    10
Name: the 04 months targes, dtype: int64

# accessing the data from pandas

In [7]:
print (obj1[1])
print (obj1["March"])

5
-7

In [8]:
print (obj1[[1,2]])
print ()
print (obj1[["Jan", "Feb"]])

Feb      5
March   -7
Name: the 04 months targes, dtype: int64

Jan    1
Feb    5
Name: the 04 months targes, dtype: int64

In [9]:
print (obj1  [obj1 > 5]  )

April    10
Name: the 04 months targes, dtype: int64

In [13]:
obj1 * 2

Jan       2
Feb      10
March   -14
April    20
Name: the 04 months targes, dtype: int64

In [10]:
print (obj1)

Jan       1
Feb       5
March    -7
April    10
Name: the 04 months targes, dtype: int64

In [11]:
obj1 = obj1 * 2

In [12]:
print (obj1)

Jan       2
Feb      10
March   -14
April    20
Name: the 04 months targes, dtype: int64

# return the same value

In [20]:
obj1 = obj1 / 2
print (obj1)

Jan      0.125
Feb      0.625
March   -0.875
April    1.250
Name: the 04 months targes, dtype: float64

# finding the value in the pandas series

In [25]:
a = "Jan" in obj1
print (a)

True

# CONVERT DATA FROM NUMPY ARRAY TO PANDAS SERIES

In [28]:
import numpy as np 

ary = np.array ([1,2,3,4,5])
ind = np.array(["a", "b", "c", "d", "d"])
obj2 = pd.Series(ary, index = ind)

print (obj2)

a    1
b    2
c    3
d    4
d    5
dtype: int32

# CONVERT DATA FROM NUMPY DICTIONARY TO PANDAS SERIES

In [30]:
sdata = {"Sindh": 350000, "Punjab": 2500, "Baluchinstan": 2000, "AJK": 1500}

tax_by_state = pd.Series(sdata)

print (tax_by_state)

Sindh           350000
Punjab            2500
Baluchinstan      2000
AJK               1500
dtype: int64

In [31]:
print (tax_by_state.values)

[350000   2500   2000   1500]

In [32]:
print (tax_by_state.index)

Index(['Sindh', 'Punjab', 'Baluchinstan', 'AJK'], dtype='object')

In [34]:
sdata = {"Sindh": 350000, "Punjab": 2500, "Baluchinstan": 2000, "KPK": 1500}

tax_by_state = pd.Series(sdata, index= ["Punjab", "Sindh", "Baluchinstan", "KPK"])

print (tax_by_state)

Punjab            2500
Sindh           350000
Baluchinstan      2000
KPK               1500
dtype: int64

**we can import from the follwing methods into the series **
* we can input directly to series
* we can import data from dictionary 
* we can import data from array

# find out the null values

In [37]:
# NaN null values means,the values dosnt exists in the pandas series 

sdata = {"Sindh": 350000, "Punjab": 2500, "Baluchinstan": 2000, "KPK": 1500}

tax_by_state = pd.Series(sdata, index= ["Punjab", "Sindh", "Baluchinstan", "KPK", "GB"])

print (tax_by_state)

Punjab            2500.0
Sindh           350000.0
Baluchinstan      2000.0
KPK               1500.0
GB                   NaN
dtype: float64

In [38]:
print (pd.isnull(tax_by_state))

Punjab          False
Sindh           False
Baluchinstan    False
KPK             False
GB               True
dtype: bool

# inserting the name of the index and values

In [40]:
sdata = {"Sindh": 350000, "Punjab": 2500, "Baluchinstan": 2000, "KPK": 1500}

tax_by_state = pd.Series(sdata, index= ["Punjab", "Sindh", "Baluchinstan", "KPK", "GB"])

tax_by_state.name = "amount of tax  "

tax_by_state.index.name = "states name "

print (tax_by_state)

states name
Punjab            2500.0
Sindh           350000.0
Baluchinstan      2000.0
KPK               1500.0
GB                   NaN
Name: amount of tax  , dtype: float64

# changing the indexing by manually

In [42]:
canteen = pd.Series([150,100,30,20,25,300,200], index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "saturday", "Sunday"], name="Weekly sale data of the canteen ")

canteen.index = ["M", "Tu", "Wed", "th", "Fr", "sat", "sun"]
print (canteen)

M      150
Tu     100
Wed     30
th      20
Fr      25
sat    300
sun    200
Name: Weekly sale data of the canteen , dtype: int64