In [10]:
import pandas as pd 
import numpy as np


data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ["ohio", "colorando", "utah", "newyork"],
                      columns = ["one", "two", "three", "four"])

print (data_df)
print ()

print (data_df.one) # this is the attribute style to calling the column

           one  two  three  four
ohio         0    1      2     3
colorando    4    5      6     7
utah         8    9     10    11
newyork     12   13     14    15

ohio          0
colorando     4
utah          8
newyork      12
Name: one, dtype: int32

# accesing the data in different ways

In [13]:
print (data_df.one[:2])   # we also define the range of the rows

ohio         0
colorando    4
Name: one, dtype: int32

In [14]:
print (data_df["one"][2:])  # defining the second way

utah        8
newyork    12
Name: one, dtype: int32

# conditional filtering

In [20]:
print ("this is the 1st way to filtering the data ")
print ()
print (data_df[data_df["three"] > 5])

print ()

print ("this is the second way to filtering the data")
print ()
print (data_df.four[data_df["three"]> 5])

this is the 1st way to filtering the data

           one  two  three  four
colorando    4    5      6     7
utah         8    9     10    11
newyork     12   13     14    15

this is the second way to filtering the data

colorando     7
utah         11
newyork      15
Name: four, dtype: int32

# selection with loc and iloc 
* in the loc method we retrieve the data through rows labels and index

In [32]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ["ohio", "colorando", "utah", "newyork"],
                      columns = ["one", "two", "three", "four"])

print (data_df)
print (data_df.loc[["colorando","ohio"], ["two", "three"]])

           one  two  three  four
ohio         0    1      2     3
colorando    4    5      6     7
utah         8    9     10    11
newyork     12   13     14    15
           two  three
colorando    5      6
ohio         1      2

# iloc like a fancy indexing

In [35]:
print (data_df)
print ("\n")
print (data_df.iloc[2,[3,0,1]])

           one  two  three  four
ohio         0    1      2     3
colorando    4    5      6     7
utah         8    9     10    11
newyork     12   13     14    15


four    11
one      8
two      9
Name: utah, dtype: int32

In [43]:
print ("printing the whole dataframe")

print (data_df.iloc[:])

printing the whole dataframe
           one  two  three  four
ohio         0    1      2     3
colorando    4    5      6     7
utah         8    9     10    11
newyork     12   13     14    15

In [48]:
print (data_df)
print ()
print (data_df.iloc[:,:3])  # printing all rows and 0 to 2 columns  
print ()
print (data_df.iloc[:3,:3])  # printing 3 rows and 0 to 2 columns  
print ()

print (data_df.iloc[:2])  # printing 2  rows and all columns

           one  two  three  four
ohio         0    1      2     3
colorando    4    5      6     7
utah         8    9     10    11
newyork     12   13     14    15

           one  two  three
ohio         0    1      2
colorando    4    5      6
utah         8    9     10
newyork     12   13     14

           one  two  three
ohio         0    1      2
colorando    4    5      6
utah         8    9     10

           one  two  three  four
ohio         0    1      2     3
colorando    4    5      6     7

# arthmatic and data alignment

In [59]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),
                   columns = list("bcd"),   
                   index = ["ohio", "texas", "colorando"])                     


df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),
                      index = ["utah","ohio", "texas", "oregon"],
                      columns = list("bde"))
print (df1)
print ()
print(df2)
print ()
print (df1+df2)

             b    c    d
ohio       0.0  1.0  2.0
texas      3.0  4.0  5.0
colorando  6.0  7.0  8.0

          b     d     e
utah    0.0   1.0   2.0
ohio    3.0   4.0   5.0
texas   6.0   7.0   8.0
oregon  9.0  10.0  11.0

             b   c     d   e
colorando  NaN NaN   NaN NaN
ohio       3.0 NaN   6.0 NaN
oregon     NaN NaN   NaN NaN
texas      9.0 NaN  12.0 NaN
utah       NaN NaN   NaN NaN