In [8]:
import numpy as np
import pandas as pd 

df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),
                   columns=list("abcd"))

df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),
                   columns=list("abcde"))

print (df2)
print ()
df2.loc[1, "b"] = np.nan
print ("df2 replace the 6.0 in column b row 2 value into the nan")
print (df2)
df3 = df1 + df2
print ("df3 this output is without filling the values ")
print (df3)
print ("----------")
print ()

print ("using the fill value method for replace nan into 0")

df3 = df1.add(df2, fill_value = 0)
print (df3)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

df2 replace the 6.0 in column b row 2 value into the nan
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
df3 this output is without filling the values
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
----------

using the fill value method for replace nan into 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

# operation between dataframe and series

In [21]:
import numpy as np
import pandas as pd 

frame = pd.DataFrame(np.arange(12.).reshape((4,3)),
                   columns=list("bde"),
                    index=["Utha", "ohio", "Texas", "Oregen"])

series = frame.iloc[0]
print (frame)
print ()
print ("output after using the iloc method which convert the data in single array")
print ()
print(series)
print ()
print ("making the new series..... ")

series1 = pd.Series([1,2,3], index=list("bde"))
print (series1.index, series1.values)
print ()

print ("subtracking the frame from series, the operation will be perfrom row wise not column wise  ")
print (series1)
print (frame - series1)

          b     d     e
Utha    0.0   1.0   2.0
ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregen  9.0  10.0  11.0

output after using the iloc method which convert the data in single array

b    0.0
d    1.0
e    2.0
Name: Utha, dtype: float64

making the new series.....
Index(['b', 'd', 'e'], dtype='object') [1 2 3]

subtracking the frame from series, the operation will be perfrom row wise not column wise
b    1
d    2
e    3
dtype: int64
          b    d    e
Utha   -1.0 -1.0 -1.0
ohio    2.0  2.0  2.0
Texas   5.0  5.0  5.0
Oregen  8.0  8.0  8.0