In [1]:
import pandas as pd

In [2]:
apple = pd.Series([3,2,0,1])
orange = pd.Series([3,2,0,1])
print (apple, orange)

0    3
1    2
2    0
3    1
dtype: int64 0    3
1    2
2    0
3    1
dtype: int64

In [3]:
apple = pd.Series([3,2,0,1])
orange = pd.Series([3,2,0,1])

data = {"apple":apple, "oranges": orange}

fruit_df = pd.DataFrame(data)

print (fruit_df)

   apple  oranges
0      3        3
1      2        2
2      0        0
3      1        1

# provinces population data frame

In [4]:

state = ["sindh", "sindh", "sindh", "punjab", "punjab", "punjab"]

data = {"state": state,
       "Year": [2003,2004,2005,2006,2007,2008],
        "pop": [2.3,4.5,3.6,5.2,8.9,7.3]
       }
frame_df = pd.DataFrame(data, index= ["1st", "2nd", "3rd", "4th", "5th", "6th"])
print (frame_df)

      state  Year  pop
1st   sindh  2003  2.3
2nd   sindh  2004  4.5
3rd   sindh  2005  3.6
4th  punjab  2006  5.2
5th  punjab  2007  8.9
6th  punjab  2008  7.3

In [5]:
print (frame_df.head())

      state  Year  pop
1st   sindh  2003  2.3
2nd   sindh  2004  4.5
3rd   sindh  2005  3.6
4th  punjab  2006  5.2
5th  punjab  2007  8.9

# adding the columns by own defined

In [6]:
state = ["sindh", "sindh", "sindh", "punjab", "punjab", "punjab"]

data = {"state": state,
       "Year": [2003,2004,2005,2006,2007,2008],
        "pop": [2.3,4.5,3.6,5.2,8.9,7.3]
       }
frame_df = pd.DataFrame(data, columns=["Year", "state", "pop"])
print (frame_df.head())

   Year   state  pop
0  2003   sindh  2.3
1  2004   sindh  4.5
2  2005   sindh  3.6
3  2006  punjab  5.2
4  2007  punjab  8.9

# adding the columns and also index with more than required columns

In [7]:
state = ["sindh", "sindh", "sindh", "punjab", "punjab", "punjab"]

data = {"state": state,
       "Year": [2003,2004,2005,2006,2007,2008],
        "pop": [2.3,4.5,3.6,5.2,8.9,7.3]
       }
frame_df = pd.DataFrame(data, columns=["Year", "state", "pop","debt"], 
                        index= ["One", "Two", "Three", "Four", "Five", "Six"])
print (frame_df.head())

       Year   state  pop debt
One    2003   sindh  2.3  NaN
Two    2004   sindh  4.5  NaN
Three  2005   sindh  3.6  NaN
Four   2006  punjab  5.2  NaN
Five   2007  punjab  8.9  NaN

In [8]:
print ("this shows the columns name not a index dont be confused by the index name ")
print ()
print ("this is columns name ",frame_df.columns)
print ()
print (frame_df.index)

this shows the columns name not a index dont be confused by the index name

this is columns name  Index(['Year', 'state', 'pop', 'debt'], dtype='object')

Index(['One', 'Two', 'Three', 'Four', 'Five', 'Six'], dtype='object')

# retrieved the data from the columns and series and dictionary like notation

In [9]:
print (data)

{'state': ['sindh', 'sindh', 'sindh', 'punjab', 'punjab', 'punjab'], 'Year': [2003, 2004, 2005, 2006, 2007, 2008], 'pop': [2.3, 4.5, 3.6, 5.2, 8.9, 7.3]}

In [10]:
print (data["state"])
print (frame_df["Year"])  # call the dictionary key thorough data frame object is called dic like notation
print (frame_df["pop"])     # call the dictionary key thorough data frame object it is called dic like notation

['sindh', 'sindh', 'sindh', 'punjab', 'punjab', 'punjab']
One      2003
Two      2004
Three    2005
Four     2006
Five     2007
Six      2008
Name: Year, dtype: int64
One      2.3
Two      4.5
Three    3.6
Four     5.2
Five     8.9
Six      7.3
Name: pop, dtype: float64

# this is state like style

In [11]:
print ("this is the dictionary like notation method or way to retrieve the data")
print ()
print (frame_df["state"])

this is the dictionary like notation method or way to retrieve the data

One       sindh
Two       sindh
Three     sindh
Four     punjab
Five     punjab
Six      punjab
Name: state, dtype: object

# this is the arribute like style

In [12]:
print ("this is the attribute style to access or retrieve the data ")
print ()
print (frame_df.Year)
print ()
print (frame_df.pop)

this is the attribute style to access or retrieve the data

One      2003
Two      2004
Three    2005
Four     2006
Five     2007
Six      2008
Name: Year, dtype: int64

<bound method DataFrame.pop of        Year   state  pop debt
One    2003   sindh  2.3  NaN
Two    2004   sindh  4.5  NaN
Three  2005   sindh  3.6  NaN
Four   2006  punjab  5.2  NaN
Five   2007  punjab  8.9  NaN
Six    2008  punjab  7.3  NaN>

# retrive the data using the loc method through index number

In [13]:
print (frame_df.loc["One"])
print (frame_df.loc["Two"])

Year      2003
state    sindh
pop        2.3
debt       NaN
Name: One, dtype: object
Year      2004
state    sindh
pop        4.5
debt       NaN
Name: Two, dtype: object

# retrieve the length of data frame

In [14]:
import numpy as np

state = ["sindh", "sindh", "sindh", "punjab", "punjab", "punjab"]

data = {"state": state,
       "Year": [2003,2004,2005,2006,2007,2008],
        "pop": [2.3,4.5,3.6,5.2,8.9,7.3]
       }
frame_df = pd.DataFrame(data, columns=["Year", "state", "pop","debt"], 
                        index= ["One", "Two", "Three", "Four", "Five", "Six"])
print (frame_df)
print()
len_row = len(frame_df)# finding number of rows 
print (len_row)
range_index = np.arange(len_row) # save the length of data frame 

frame_df["debt"] = range_index   # assign the length of data frame to debt column 
print (frame_df)

       Year   state  pop debt
One    2003   sindh  2.3  NaN
Two    2004   sindh  4.5  NaN
Three  2005   sindh  3.6  NaN
Four   2006  punjab  5.2  NaN
Five   2007  punjab  8.9  NaN
Six    2008  punjab  7.3  NaN

6
       Year   state  pop  debt
One    2003   sindh  2.3     0
Two    2004   sindh  4.5     1
Three  2005   sindh  3.6     2
Four   2006  punjab  5.2     3
Five   2007  punjab  8.9     4
Six    2008  punjab  7.3     5

# the index of series and data frame must be matched or be same

In [15]:
val = pd.Series([-1,-2,-3,-4,-5,-6], 
                index=["One", "Two", "Three", "Four", "Five", "Six"]) 
                    # her we can see that we keep the index same as data frame 

frame_df["debt"] = val
print (frame_df)

       Year   state  pop  debt
One    2003   sindh  2.3    -1
Two    2004   sindh  4.5    -2
Three  2005   sindh  3.6    -3
Four   2006  punjab  5.2    -4
Five   2007  punjab  8.9    -5
Six    2008  punjab  7.3    -6