# there are two methods of deleting data 
* using drop method 
* using in place method

# deleting the row using axis = 0

In [12]:
import numpy as np 
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=["Uhaio", "Colorando","Utah", "Newyork"],
                      columns=["One","two","three", "four"])

print (data_df, "\n")
print ()

data_df = data_df.drop("Uhaio", axis=0)
print (data_df)

           One  two  three  four
Uhaio        0    1      2     3
Colorando    4    5      6     7
Utah         8    9     10    11
Newyork     12   13     14    15


           One  two  three  four
Colorando    4    5      6     7
Utah         8    9     10    11
Newyork     12   13     14    15

# deleting the column using axis = 1

In [13]:
import numpy as np 
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=["Uhaio", "Colorando","Utah", "Newyork"],
                      columns=["One","two","three", "four"])

print (data_df, "\n")
print ()

data_df = data_df.drop("One", axis=1)
print (data_df)

           One  two  three  four
Uhaio        0    1      2     3
Colorando    4    5      6     7
Utah         8    9     10    11
Newyork     12   13     14    15


           two  three  four
Uhaio        1      2     3
Colorando    5      6     7
Utah         9     10    11
Newyork     13     14    15

In [15]:
import numpy as np 
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=["Uhaio", "Colorando","Utah", "Newyork"],
                      columns=["One","two","three", "four"])

print (data_df, "\n")
print ()


print (data_df.drop("One", axis = 1, inplace = True))

           One  two  three  four
Uhaio        0    1      2     3
Colorando    4    5      6     7
Utah         8    9     10    11
Newyork     12   13     14    15


None