# handling missing values

In [1]:
import pandas as pd

In [7]:
sample_missing = pd.read_csv("sample1_missing.csv")
print (sample_missing)

  studentid          name  chemistry  physics  english  math
0       A01     arif ali        20.0     30.0       40  50.0
1       A02  kamran khan        30.0      NaN       50   NaN
2       A03    imran ali         NaN     50.0       60  70.0
3       A04  kashif khan        50.0     60.0       70   NaN

# checking the null value in the data frame

In [10]:
pd.isnull(sample_missing)

   studentid   name  chemistry  physics  english   math
0      False  False      False    False    False  False
1      False  False      False     True    False   True
2      False  False       True    False    False  False
3      False  False      False    False    False   True

In [22]:
sample_missing1 = pd.read_csv("sample1_missing.csv", na_values=["NaN"])
print (sample_missing1)

  studentid          name  chemistry  physics  english  math
0       A01     arif ali        20.0     30.0       40  50.0
1       A02  kamran khan        30.0      NaN       50   NaN
2       A03    imran ali         NaN     50.0       60  70.0
3       A04  kashif khan        50.0     60.0       70   NaN

In [29]:
sentinels = {'math': ['', 'NA']}

sample_missing1 = pd.read_csv("sample1_missing.csv", na_values=sentinels)
print (sample_missing1)

  studentid          name  chemistry  physics  english  math
0       A01     arif ali        20.0     30.0       40  50.0
1       A02  kamran khan        30.0      NaN       50   NaN
2       A03    imran ali         NaN     50.0       60  70.0
3       A04  kashif khan        50.0     60.0       70   NaN

# dropna() method
- parameters 
         -dropna() method by default drop all rows which have atleast 1 NaN value, the default 
         value of dropna(how = "any", axis = 0)
        
        -how = "any" / all, axis = 0/1, any with axis =0 drop all the rows which have atleast 
        one NaN and all will drop the column with axis = 1 which have all rows /columns 
        have NaN 
        
        -subset = [give the mutiple columns names] it will drop the entire given column 
        
        -thres = 2, if in the row have atleast 2 NaN values then this row cant be droped 
        
        -inplace = True, this parameter will change in original data frame permentatly.