In [1]:
import pandas as pd 


sample_df = pd.read_csv("sample1.csv")

print (sample_df)
print ("\n")

  studentid          name   chemistry   physics   english   math
0        A01     arif ali           20        30        40    50
1        A02  kamran khan           30        40        50    60
2        A03    imran ali           40        50        60    70
3        A04  kashif khan           50        60        70    80

# here we are using the skiprows method for skip the first row in the data frame 
- as we can see below when we are not using the skiprows method then the dataframe 
- shown the both columns headings 1 is already exists in the csv file 
- and other that we have given

In [10]:

sample_df = pd.read_csv("sample1.csv", sep=",",
                       names =["ID", "Name","Ch", "Phy", "Eng", "Math"], 
                        
                       )
print (sample_df)

           ID          Name          Ch       Phy       Eng  Math
0  studentid          name   chemistry   physics   english   math
1         A01     arif ali           20        30        40    50
2         A02  kamran khan           30        40        50    60
3         A03    imran ali           40        50        60    70
4         A04  kashif khan           50        60        70    80

In [3]:


sample_df = pd.read_csv("sample1.csv", 
                       names =["ID", "Name","Ch", "Phy", "Eng", "Math"], 
                        skiprows=1
                        
                        )
print (sample_df.set_index("ID", inplace = True))
print (sample_df)

None
             Name  Ch  Phy  Eng  Math
ID
A01     arif ali   20   30   40    50
A02  kamran khan   30   40   50    60
A03    imran ali   40   50   60    70
A04  kashif khan   50   60   70    80

In [4]:
print (sample_df.reset_index())

    ID          Name  Ch  Phy  Eng  Math
0  A01     arif ali   20   30   40    50
1  A02  kamran khan   30   40   50    60
2  A03    imran ali   40   50   60    70
3  A04  kashif khan   50   60   70    80

In [5]:
sample_df1 = pd.read_csv("without_heading.csv",sep=",", 
                        names=["ID", "Name"]
                        )
print (sample_df1)

   ID  Name
0   1     5
1   2     6
2   3     7
3   4     8

# Hierachical indexing

In [6]:
parsed = pd.read_csv("sample2.csv")
print (parsed)
print ()

   key1 key2  value1  value2
0  one     a       1       2
1  one     b       3       4
2  one     c       5       6
3  one     d       7       8
4  two     a       9      10
5  two     b      11      12
6  two     c      13      14
7  two     d      15      16

In [17]:
parsed1 = pd.read_csv("sample2.csv")
print (parsed1)

   key1 key2  value1  value2
0  one     a       1       2
1  one     b       3       4
2  one     c       5       6
3  one     d       7       8
4  two     a       9      10
5  two     b      11      12
6  two     c      13      14
7  two     d      15      16

using skip row method

In [36]:
parsed1 = pd.read_csv("sample2.csv", skiprows=1)
print (parsed1)

print ()
# skip the rows also using fancy indexing 

parsed1 = pd.read_csv("sample2.csv", skiprows=[2,5]) 
print (parsed1)

   one   a   1   2
0  one   b   3   4
1  one   c   5   6
2  one   d   7   8
3  two   a   9  10
4  two   b  11  12
5  two   c  13  14
6  two   d  15  16

   key1 key2  value1  value2
0  one     a       1       2
1  one     c       5       6
2  one     d       7       8
3  two     b      11      12
4  two     c      13      14
5  two     d      15      16

In [39]:
parsed1 = pd.read_csv("sample2.csv", index_col=["key1", "key2"])
print (parsed1)
print ()
print (pd.isnull(parsed1))  # checking value if there is null

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

           value1  value2
key1 key2
one  a      False   False
     b      False   False
     c      False   False
     d      False   False
two  a      False   False
     b      False   False
     c      False   False
     d      False   False

# reading the txt file

In [19]:
text = list (open("ex1.txt"))

In [38]:

result = pd.read_table("ex1.txt", sep="\s+", engine="python")

print (result)
print ()
print (pd.isnull(result))   # checking value if there is null

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb -0.927272  0.302904  0.032399

         A      B      C
aaa  False  False  False
bbb  False  False  False

# we can also read txt file though csv method

In [48]:
result = pd.read_csv("ex1.txt", sep="\s+", engine="python")

print (result)
print (pd.isnull(result))    # checking value if there is null

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb -0.927272  0.302904  0.032399
         A      B      C
aaa  False  False  False
bbb  False  False  False

In [47]:
result1 = pd.read_csv("ex1.txt", sep="\t+", engine="python")

print (result1)
print ()
print (pd.isnull(result1)) # checking value if there is null

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb -0.927272  0.302904  0.032399

         A      B      C
aaa  False  False  False
bbb  False  False  False

In [86]:
sample3_df = pd.read_csv("sample3.csv",sep=",")

print (sample3_df)

  studentid          name  chemistry  physics  english  math
0       A01     arif ali          20       30       40    50
1       A02  kamran khan          30       40       50    60
2       A03    imran ali          40       50       60    70
3       A04  kashif khan          50       60       70    80

# here we have use the seperate list for give the columns names

In [106]:
names=["StudentID", "Name", "Chemistry", "Physics", "English", "Math"]

sample4_df = pd.read_csv("sample4.csv", sep=",", names=names, skiprows=1)
display (sample4_df)

  StudentID          Name  Chemistry  Physics  English  Math
0       A01     arif ali          20       30       40    50
1       A02  kamran khan          30       40       50    60
2       A03    imran ali          40       50       60    70
3       A04  kashif khan          50       60       70    80

# here we are hiding the index column using method

In [109]:


sample4_df = pd.read_csv("sample4.csv", sep=",", 
                         names=["StudentID", "Name", "Chemistry", "Physics", "English", "Math"]
                         , skiprows=1)

display (sample4_df.style.hide_index()) # here we are the hiding column