In [54]:
import pandas as pd 


sample_df = pd.read_csv("sample1.csv")

print (sample_df)
print ("\n")

  studentid          name   chemistry   physics   english   math
0        A01     arif ali           20        30        40    50
1        A02  kamran khan           30        40        50    60
2        A03    imran ali           40        50        60    70
3        A04  kashif khan           50        60        70    80

# here we are using the skiprows method for skip the first row in the data frame 
- as we can see below when we are not using the skiprows method then the dataframe 
- shown the both columns headings 1 is already exists in the csv file 
- and other that we have given

In [60]:

sample_df = pd.read_csv("sample1.csv", sep=",",
                       names =["ID", "Name","Ch", "Phy", "Eng", "Math"], 
                       )
print (sample_df)

           ID          Name          Ch       Phy       Eng  Math
0  studentid          name   chemistry   physics   english   math
1         A01     arif ali           20        30        40    50
2         A02  kamran khan           30        40        50    60
3         A03    imran ali           40        50        60    70
4         A04  kashif khan           50        60        70    80

In [56]:


sample_df = pd.read_csv("sample1.csv", 
                       names =["ID", "Name","Ch", "Phy", "Eng", "Math"], 
                        skiprows=1
                        
                        )
print (sample_df.set_index("ID", inplace = True))
print (sample_df)

None
             Name  Ch  Phy  Eng  Math
ID
A01     arif ali   20   30   40    50
A02  kamran khan   30   40   50    60
A03    imran ali   40   50   60    70
A04  kashif khan   50   60   70    80

In [57]:
print (sample_df.reset_index())

    ID          Name  Ch  Phy  Eng  Math
0  A01     arif ali   20   30   40    50
1  A02  kamran khan   30   40   50    60
2  A03    imran ali   40   50   60    70
3  A04  kashif khan   50   60   70    80

In [59]:
sample_df1 = pd.read_csv("without_heading.csv",sep=",", 
                        names=["ID", "Name"]
                        )
print (sample_df1)

   ID  Name
0   1     5
1   2     6
2   3     7
3   4     8

# Hierachical indexing

In [67]:
parsed = pd.read_csv("sample2.csv")
print (parsed)
print ()

   key1 key2  value1  value2
0  one     a       1       2
1  one     b       3       4
2  one     c       5       6
3  one     d       7       8
4  two     a       9      10
5  two     b      11      12
6  two     c      13      14
7  two     d      15      16

In [66]:
parsed1 = pd.read_csv("sample2.csv", index_col=["key1", "key2"])
print (parsed1)

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16